body {
    font-family: SF Pro Display;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.container {
    max-width: 297px;
    margin: 0 auto;
    padding: 0;
    // height: 812px;
    height: 100%;
}